* {
  background-color: #13482f;
}

.container-fluid {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: -100px;
  margin-bottom: -150px;
}

.carousel-inner {
  width: auto;
  overflow: hidden;
  box-shadow: 7px 7px 10px rgba(15, 15, 15, 0.5);
  margin-right: 12px;
  margin-left: 12px;
  border-radius: 10px;
}

.carousel-inner img {
  width: auto;
  height: 250px;
  object-fit: cover;
}

h1 {
  color: white;
  margin-bottom: 70px !important;
  margin-top: 100px !important;
  font-size: 55px;
  box-shadow: 7px 7px 10px rgba(15, 15, 15, 0.5);
  border-radius: 10px;
}

h2 {
  color: white;
  margin-top: 200px !important;
  color: #e5ad05;
  margin-bottom: 100px !important;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
}

.carousel-indicators {
  background-color: transparent;
  position: absolute;
  left: 35%;
  bottom: 1740px;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.storesPerCategory {
  margin-top: 250px !important;
  margin-left: 480px !important;
  color: #e5ad05;
}

.text-center {
  margin-top: 200px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 120px !important;
  text-align: center;
}

h3 {
  color: white;
  font-size: 45px;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

span {
  color: #e5ad05;
  margin-left: 20px;
}

a img {
  border-radius: 10px;
  margin-bottom: 220px;
  cursor: pointer;
  border: 2px solid white;
}
<<<<<<< HEAD
=======

/* Media Queries for Extra Small, Small, and Medium Screens */
@media screen and (max-width: 575px) {

  .categories {
    margin-right: 30px;
  }
  .carousel-indicators {
    bottom: 4500px;
  }

  a img {
    margin-left: 20px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .categories {
    margin-right: 20px;
  }

  .carousel-indicators {
    display: none;
  }
  a img {
    margin-left: 40px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-indicators {
    display: none;
  }

  .categories {
    margin-left: 200px;
  }

  a img {
    margin-left: 130px;

    margin-bottom: 30px;
  }
}

/* Media Queries for Large and Extra Large Screens */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .categories {
    margin-right: -200px;
  }

  .carousel-indicators {
    display: none;
  }

  .categories {
    margin-right: 20px;
  }

  a img {
    margin-left: 35px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .categories {
    margin-left: 100px;
  }

  .carousel-indicators {
    display: none;
  }

  a img {
    margin-left: 90px;
    margin-bottom: 30px;
  }
}
/* Media Queries for Extra Large Screens */
@media screen and (min-width: 1400px) {
  .carousel-indicators {
    display: none;
  }

  a img {
    margin-left: 150px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .carousel-indicators {
    display: none;
  }
  a img {
    margin-left: 150px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1800px) {
  .carousel-indicators {
    display: none;
  }

  a img {
    margin-left: 150px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .carousel-indicators {
    display: none;
  }

  a img {
    margin-left: 150px;
    margin-bottom: 30px;
  }
}
>>>>>>> c0c387c33704b612c243f58be2bf7b0686fccbad
