<div class="container-fluid">
  <app-header />

  <div id="carouselIndicators1" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselIndicators1"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselIndicators1"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselIndicators1"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="./assets/img/banner3.jpg"
          class="d-block w-100"
          alt="food photo carousel"
        />
      </div>
      <div class="carousel-item">
        <img
          src="./assets/img/banner2.jpg"
          class="d-block w-100"
          alt="food photo carousel"
        />
      </div>
      <div class="carousel-item">
        <img
          src="./assets/img/banner1.jpg"
          class="d-block w-100"
          alt="food photo carousel"
        />
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselIndicators1"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselIndicators1"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <h2>Top Stores</h2>

    <app-topStores />

    <h3>Top Stores <span>Food - Beverages - Coffee</span></h3>

    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-4 mb-4">
        <a
          (click)="scrollToTop()"
          routerLink="/topStoresFood"
          routerLinkActive="active"
        >
          <img
            src="./assets/img/food-about.jpg"
            class="img-fluid"
            alt="Food Image"
          />
        </a>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <a
          (click)="scrollToTop()"
          routerLink="/topStoresBeverages"
          routerLinkActive="active"
        >
          <img
            src="./assets/img/drink-main.jpg"
            class="img-fluid"
            alt="Drink Image"
          />
        </a>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <a
          (click)="scrollToTop()"
          routerLink="/topStoresCoffee"
          routerLinkActive="active"
        >
          <img
            src="./assets/img/coffee.jpg"
            class="img-fluid"
            alt="Coffee Image"
          />
        </a>
      </div>
    </div>
  </div>
</div>
